a{
    text-decoration: none;
    font-size: 22px;
    color: white;
    
}
div{
    text-align-last: center;
    font-family: 標楷體;
}
img{
    width: 600;
    height: 800;
    
}
p{
    color: aliceblue;
    font-size: 30px;
}